.outfit{
    scale: 75%;
    display: block;
    text-align: center;
}

.beanie{
    
    scale: 75%;
}

p{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    font-weight: bold;
}

h1{
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

