body{
    background-color: rgb(224, 201, 49);
}

h2{
    width: 50vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    width: 50vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}