.body{
    background-color: #D9D9D9;
}

.painting-1{
    display: grid;
    width: 600px;
    height:600px;
    border:1px solid black;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.cream{
    background-color: #FDFAEB;
}

.red{
    background-color: #ec4942;
}

.blue{
    background-color: #4497c1;
}

.yellow{
    background-color: #FCDE02;
}

.border-right{
    border-right: 20px solid #484847;
}

.border-bottom{
    border-bottom: 20px solid #484847;
}